@font-face {
    font-family: 'Satoshi';
    src: url(../assets/fonts/Satoshi-VariableItalic.ttf);
    font-style: italic;
}

* {
    /* font-family: 'Smooch Sans', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #1b1b1b;
}

body {
    font-family: 'Satoshi', italic;
    border: #6e6e6e 1px solid;
    margin: 30px;
    height: 93vh;
}

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('../assets/images/background.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
    z-index: -1;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    width: 450px;
    margin: 30px auto;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.22) 5px 5px 15px;
    background-color: #333;
    transition: background-color 1s ease-out;
    animation: changeBg 0.4s ease-out;
}

nav:hover {
    background-color: #444;
}

a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: 15px;
    user-select: none;
    animation: changeA 0.4s ease-out;
}

a:hover {
    color: #dbdbdb;
    text-decoration: underline;
}

a.active {
    color: #dbdbdb;
    text-decoration: none;
}

section {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.rowSection {
    gap: 20px;
    flex-direction: row;
}

#logo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.22) 5px 5px 15px;
    transition: transform 0.4s ease-out;
}

#logo:hover {
    transform: scale(1.10);
}

.text {
    background-color: #1b1b1b;
    border-radius: 10px;
    z-index: 1;
    width: calc(100% - 10px);
    height: 140px;
    color: #d4d4d4;
    align-content: center;
    padding: 20px;
}

.text h2 {
    font-weight: 350;
}

.email {
    color: #dbdbdb;
    margin: 0;
    user-select: auto;
}

.cardLine {
    width: 600px;
    height: 150px;
    background-color: #585858;
    border-radius: 10px;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-out;
}

.cardLine:hover {
    transform: scale(1.02);
}

.cardLine::before {
    content: '';
    position: absolute;
    width: 500%;
    height: 500%;
    background-image: conic-gradient(transparent 10deg, rgb(255, 94, 0) 100deg, rgb(255, 94, 0) 150deg, transparent 300deg);
    animation: rotate 3s linear infinite;
}

.cardLine::after {
    position: absolute;
    width: 40%;
    background-color: #101010;
    box-shadow: inset 16px 14px 20px #0000008c;

}

h3 {
    width: 100%;
    text-align: right;
    border-bottom: #6e6e6e 2px solid;
    color: #d4d4d4;

}

.technologies {
    margin: 15px auto;
    gap: 10px;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    transition: transform 0.4s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.technologies:hover {
    transform: scale(1.01);
}

.slider {
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 100%;
}

.slider .slide-track {
    display: flex;
    animation: scroll 20s linear infinite alternate;
    width: calc(150px * 10);
    align-items: center;
}

.slider .slide {
    width: 120px;
    height: 120px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d3d3d;
}

.slider .slide img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: transform 0.4s ease-out;
}

.slide img:hover {
    transform: scale(1.1);
}

.slider .slide-track:hover {
    animation-play-state: paused;
}

#alignProject {
    text-align: left;
}

.container {
    position: relative;
}

.container .card {
    position: relative;
    width: 240px;
    height: 280px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(250px at 80% -20%);
}

.container .card:after {
    position: absolute;
    top: 30%;
    left: -20%;
    color: rgba(255, 255, 25, 0.05)
}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(0%);

}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
    filter: opacity(0.5);
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBx {
    height: 210px;
    
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
}


.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    transform: translateY(100px);
    transition: 0.5s;
    margin-top: 0;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(20px);
    transition-delay: 0.15s;
}

.container .card .contentBx a:hover {
    background: #333;
    color: #fff;
}

.container .card .contentBx a:hover img {
    filter: brightness(10);
}

.container .card .contentBx p {
    font-size: 14px;
    color: #dbdbdb;
    margin-top: 10px;
    transition: 0.5s;
    transform: translateY(100px);

}

.container .card:hover .contentBx p {
    transform: translateY(10px);
    transition-delay: 0.15s;
    margin: 5px;
    background-color: #333;
    border-radius: 10px;
    padding: 5px;
}

@keyframes changeBg {
    0% {
        background-color: #222222;
    }

    100% {
        background-color: #333;
    }
}

@keyframes changeA {
    0% {
        color: #222222;
    }

    100% {
        color: white;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bg-animation {
    0%, 100% { transform: translate(0, 0); }
    10% { transform: translate(-5%, -5%); }
    20% { transform: translate(-10%, 5%); }
    30% { transform: translate(5%, -10%); }
    40% { transform: translate(-5%, 15%); }
    50%, 90% { transform: translate(-10%, 5%); }
    60% { transform: translate(15%, 0); }
    70% { transform: translate(0, 10%); }
    80% { transform: translate(-15%, 0); }
    90% { transform: translate(10%, 5%); }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(-240px * 3));
    }

    100% {
        transform: translateX(0);
    }
}