@font-face {
    font-family: 'Satoshi';
    src: url(../assets/fonts/Satoshi-VariableItalic.ttf);
    font-style: italic;
}

* {
    /* font-family: 'Smooch Sans', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Satoshi', italic;
    background-color: #222222;
    border: #6e6e6e 1px solid;
    margin: 30px;
    height: 93vh;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    width: 450px;
    margin: 30px auto;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.22) 5px 5px 15px;
    background-color: #333;
    transition: background-color 1s ease-out;
    animation: changeColor 0.4s ease-out;
}

nav:hover {
    background-color: #444;
}

a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: 15px;
}

a:hover {
    color: #dbdbdb;
    text-decoration: underline;
}

a.active {
    color: #dbdbdb;
    text-decoration: none;
    cursor: default;
}

@keyframes changeColor {
    0% {
        background-color: #222222;
    }

    100% {
        background-color: #333;
    }
}

